body {
    font-family: 'Roboto', sans-serif;
    /* background: url(background.jpg) no-repeat center center fixed;  */
    background-size: cover;
    margin: 0;
    padding: 0;
}

#background-fit {
    background-size: cover;
}

h1 {
    text-align: center;
}